/.vscode
/PythonPractice.py
/Test.py
/Test2.py
/Test3.py
/Test3_2.py
/Test5.py
/Test6.py
/__pycache__
/log
/lora-llama-3-youko-8b-instruct-results-pt-test2
/lora-llama-3-youko-8b-results
/lora-llama-3-youko-8b-results-pt
/lora-rinna-3.6b
/lora-rinna-3.6b-results
/megatron_config.yaml
/mlruns
/offload